/* Block */
.message-item {
	max-width: 70%;
	width: max-content;
	margin-bottom: 10px;
}

/* Elements */
.message-item__message {
	border-radius: 5px 5px 5px 0;
	padding: 10px;
}

.message-item__time {
	font-size: 0.6em;
	padding: 5px 0 0;
	margin-bottom: -4px;
	text-align: right;
}
